<div class="bg-purple">
    <div class="stars">

        <div class="central-body">
            <h1>404 </h1>
            <a [routerLink]="['']" class="btn-go-home">Vuelve al principio</a>
        </div>
        <div class="objects">

            <div class="box_astronaut">
                <img class="object_astronaut" src="http://salehriaz.com/404Page/img/astronaut.svg" width="140px">
            </div>
        </div>
        <div class="glowing_stars">
            <div class="star"></div>
            <div class="star"></div>
            <div class="star"></div>
            <div class="star"></div>
            <div class="star"></div>
        </div>

    </div>
</div>
<router-outlet></router-outlet>